body {
	background-color: #C2C2C2;
	font-family: 'Roboto Condensed', sans-serif;
}


.container {
	width: 400px;
	margin: auto;

}

.results {
	position: relative;
	margin-top: 10px;
	height: 80px;
	width: 350px;
	border: #000000 solid 5px;
	border-radius: 10px;
}

.track {
	position: relative;
	font-size: 1em;
	display: block;
	width: 100px;
	margin: 5px auto;
	/*outline: #000000 solid 1px;*/
}

.art {
	position: relative;
	margin: -18px 8px 8px 8px;
	/*outline:  #000000 solid 1px;*/
	height: 64px;
	width: 64px;
}

.preview {
	margin: -25px 0 8px 100px;
}

.link {
	position: relative;
	float: right;
	margin: -40px 8px 0 0;
}

.link img {
	width: 150px;
	height: auto;
}